/* Typography */

.text-body, p {
  font-family: "EB Garamond";
  font-size: 18px;
  line-height: 23px;
}

.text-heading, h1, h2, h3 {
  font-family: "EB Garamond";
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.text-caption {
  font-family: "EB Garamond";
  font-size: 11px;
  line-height: 11px;
}

.text-bold {
  font-weight: 900;
}

.link-primary {
  color: #539403;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link-primary:hover {
  border-bottom: 1px solid #539403;
}

.link-secondary {
  color: #074966; 
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link-secondary:hover {
  border-bottom: 1px solid #074966;;
}

.link-nav {
  color: #000; 
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link-nav:hover {
  border-bottom: 1px solid #539403;
}