/* Typography */

*, .text-body, .text-body *, p {
  font-family: "Cabin";
  font-size: 16px;
  line-height: 22px;  
}

.text-heading, .text-heading *, h2, h3, h4, h5 {
  font-size: 24px;
  line-height: 32px;
}

.text-title, .text-title *, h1 {
  font-size: 32px;
  line-height: 38px;

  font-family: "EB Garamond";
}

.text-caption, .text-caption *, caption {
  font-size: 11px;
  line-height: 11px;
}

.text-bold {
  font-weight: bold;
}

.text-regular {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.link-primary {
  color: #539403;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link-primary:hover, .link-primary.link-active {
  border-bottom: 1px solid #539403;
}

.link-secondary {
  color: #074966; 
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link-secondary:hover, .link-secondary.link-active {
  border-bottom: 1px solid #074966;;
}

.link-nav {
  color: #000; 
  text-decoration: none;
  border-bottom: 1px solid transparent;

  font-size: 16px;
  line-height: 16px;

  font-family: "EB Garamond";
}

.link-nav:hover, .link-nav.link-active {
  border-bottom: 1px solid #539403;
}